#map {
  height: 80%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.info {
  position: relative;
  width: 30vw;
  height: 15vw;
}

.cityname {
  position: absolute;
}

.username {
  position: absolute;
  top: 2.5vw;
}

.spend {
  position: absolute;
  left: 21vw;
  top: 4vw;
}

.day {
  position: absolute;
  left: 21vw;
  top: 6vw;
}

.comment {
  position: absolute;
  left: 21vw;
  top: 8vw;
  height: 5.5vw;
  overflow: auto;
}

.im {
  position: absolute;
  top: 4vw;
  width: 20vw;
}

.cardlist{
  display: flex;
  flex-wrap: wrap;
  // border-style: dashed;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  -webkit-justify-content: space-between;
}
